:root {
    --color-blue: #2196F3;
    --color-title: #212121;
    --color-text: #757575;
    --color-hero: #ffffff;
    --color-bg-first: #ffffff;
    --color-bg-hero: #2F303A;
    --color-bg-second: #F5F4FA;
    
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: inherit; 

}

body {
    color: var(--color-text);
    background: var(--color-bg-first);

    font-family: 'Roboto', sans-serif ;
    font-style: normal;
    letter-spacing: 0.03em;
    

}



address, #text{
    font-style: normal;
}

/* Header */




.page-header{

  
    height: 80px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}
.page-nav{
    display: flex;
    align-items: center;
}
 .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 93px;
    width: 295px;
 }

 .contact-container{
     display: flex;
     
 }

.contact.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 330px;
    width: 305px;
  
 }

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-blue);
      
}
.logo-web{
     width: 55px;
     
}

.logo.header .logo-web {
    color: var(--color-title);

}

.logo:focus {
    opacity: 0.8;
}


.menu-item {
    color: var(--color-title);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus {
    color: var(--color-blue);

    border:5px, solid, var(--color-blue);

}


.contact a {
    color: var(--color-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.contact a:hover,
.contact a:focus {
    color: var(--color-blue);
}


/* footer */
footer {
    background: var(--color-bg-hero);
    color: var(--color-hero);
    height: 250px;
    padding-top: 60px;
}

.page-footer{
    /* margin-left: 215px; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.contact.footer a {
    color: #ffffff60;
}

.logo.footer .logo-web {

    color: var(--color-bg-first);
   
}
.contact.footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 20px;

    width: 230px;
    height: 80px;
}
.footer li{
    margin-bottom: 10px;
}