

/* Page Index */
/* main */
.section .section-title{
    color: var(--color-title);
}
/* hero */
.hero{
    background: var(--color-bg-hero);
    color: var(--color-hero);

}
.hero-btn{
    background: var(--color-blue);
    color: var(--color-hero);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus{
    background: #188CE8;
}
/* description */
.list-description h3{
    color: var(--color-title);
}

.section.section-bg{
    background: var(--color-bg-second);
}

.uppertext{
    text-transform: uppercase;
}









/* Page Portfolio */

.filter-btn .button {
    color: var(--color-title);
    background: var(--color-bg-second);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    border-radius: 4px;

    
}

.filter-btn{
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

.filter-btn .button:hover,
.filter-btn .button:focus {
    color: var(--color-hero);
    background: var(--color-blue);

}

.exampl-list{
    display: flex;
    flex-wrap: wrap;
}

.exampl-item h2 {
    color: var(--color-title);
}

.exampl-item p {
    color: var(--color-text);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;

}