


/* main */
.section .section-title{
    color: var(--color-title);
}
/* hero */
.hero{
    background: var(--color-bg-hero);
    color: var(--color-hero);

}
.hero-btn{
    background: var(--color-blue);
    color: var(--color-hero);
}
/* description */
.list-description h3{
    color: var(--color-title);
}

.section.section-bg{
    background: var(--color-bg-second);
}


