


/* main */
.section .section-title{
    color: var(--color-title);
}
/* hero */
.hero{
    background: var(--color-bg-hero);
    color: var(--color-hero);

}
.hero-btn{
    background: var(--color-blue);
    color: var(--color-hero);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus{
    background: #188CE8;
}
/* description */
.list-description h3{
    color: var(--color-title);
}

.section.section-bg{
    background: var(--color-bg-second);
}

.uppertext{
    text-transform: uppercase;
}
